## EDA

In [4]:
import duckdb
from pathlib import Path

duckdb_path = "data/sakila.duckdb"
Path(duckdb_path).unlink(missing_ok=True)

with duckdb.connect(duckdb_path) as conn, open("sql/load_sakila.sql") as ingest_script:
    conn.sql(ingest_script.read())

    description = conn.sql("DESC;").df()
    films = conn.sql("FROM film;").df()

films.head(3)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,<NA>,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2021-03-06 15:52:00
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,<NA>,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-03-06 15:52:00
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,<NA>,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-03-06 15:52:00

In [7]:
description.head(3)

,database,schema,name,column_names,column_types,temporary
0,sakila,main,actor,"[actor_id, first_name, last_name, last_update]","[DOUBLE, VARCHAR, VARCHAR, TIMESTAMP]",False
1,sakila,main,address,"[address_id, address, address2, district, city...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, VA...",False
2,sakila,main,category,"[category_id, name, last_update]","[BIGINT, VARCHAR, TIMESTAMP]",False

### Read all the data into a dictionary of DataFrames

In [17]:
dfs = {}

with duckdb.connect(duckdb_path) as conn:
    for name in description["name"]:
        dfs[name] = conn.sql(f"FROM {name};").df()

dfs.keys()

dict_keys(['actor', 'address', 'category', 'city', 'country', 'customer', 'customer_list', 'film', 'film_actor', 'film_category', 'film_list', 'film_text', 'inventory', 'language', 'payment', 'rental', 'sales_by_film_category', 'sales_by_store', 'staff', 'staff_list', 'store'])

# EDA

In [19]:
dfs

{'actor':      actor_id first_name     last_name         last_update
 0         1.0   PENELOPE       GUINESS 2021-03-06 15:51:59
 1         2.0       NICK      WAHLBERG 2021-03-06 15:51:59
 2         3.0         ED         CHASE 2021-03-06 15:51:59
 3         4.0   JENNIFER         DAVIS 2021-03-06 15:51:59
 4         5.0     JOHNNY  LOLLOBRIGIDA 2021-03-06 15:51:59
 ..        ...        ...           ...                 ...
 195     196.0       BELA        WALKEN 2021-03-06 15:52:00
 196     197.0      REESE          WEST 2021-03-06 15:52:00
 197     198.0       MARY        KEITEL 2021-03-06 15:52:00
 198     199.0      JULIA       FAWCETT 2021-03-06 15:52:00
 199     200.0      THORA        TEMPLE 2021-03-06 15:52:00

 [200 rows x 4 columns],
 'address':      address_id                   address address2 district  city_id  \
 0             1         47 MySakila Drive     None               300
 1             2        28 MySQL Boulevard     None               576
 2             3         23 Workhaven Lane     None               300
 3             4      1411 Lillydale Drive     None               576
 4             5            1913 Hanoi Way     None               463
 ..          ...                       ...      ...      ...      ...
 598         601       844 Bucuresti Place     None               242
 599         602  1101 Bucuresti Boulevard     None               401
 600         603    1103 Quilmes Boulevard     None               503
 601         604       1331 Usak Boulevard     None               296
 602         605      1325 Fukuyama Street     None               537

     postal_code phone         last_update
 0          None       2021-03-06 15:51:54
 1          None       2021-03-06 15:51:54
 2          None       2021-03-06 15:51:54
 3          None       2021-03-06 15:51:54
 4         35200       2021-03-06 15:51:54
 ..          ...   ...                 ...
 598       36603       2021-03-06 15:51:59
 599       97661       2021-03-06 15:51:59
 600       52137       2021-03-06 15:51:59
 601       61960       2021-03-06 15:51:59
 602       27107       2021-03-06 15:51:59

 [603 rows x 8 columns],
 'category':     category_id         name         last_update
 0             1       Action 2021-03-06 15:52:00
 1             2    Animation 2021-03-06 15:52:00
 2             3     Children 2021-03-06 15:52:00
 3             4     Classics 2021-03-06 15:52:00
 4             5       Comedy 2021-03-06 15:52:00
 5             6  Documentary 2021-03-06 15:52:00
 6             7        Drama 2021-03-06 15:52:00
 7             8       Family 2021-03-06 15:52:00
 8             9      Foreign 2021-03-06 15:52:00
 9            10        Games 2021-03-06 15:52:00
 10           11       Horror 2021-03-06 15:52:00
 11           12        Music 2021-03-06 15:52:00
 12           13          New 2021-03-06 15:52:00
 13           14       Sci-Fi 2021-03-06 15:52:00
 14           15       Sports 2021-03-06 15:52:00
 15           16       Travel 2021-03-06 15:52:00,
 'city':      city_id                city  country_id         last_update
 0          1  A Corua (La Corua)          87 2021-03-06 15:51:49
 1          2                Abha          82 2021-03-06 15:51:49
 2          3           Abu Dhabi         101 2021-03-06 15:51:49
 3          4                Acua          60 2021-03-06 15:51:49
 4          5               Adana          97 2021-03-06 15:51:49
 ..       ...                 ...         ...                 ...
 595      596               Zaria          69 2021-03-06 15:51:54
 596      597        Zeleznogorsk          80 2021-03-06 15:51:54
 597      598         Zhezqazghan          51 2021-03-06 15:51:54
 598      599            Zhoushan          23 2021-03-06 15:51:54
 599      600          Ziguinchor          83 2021-03-06 15:51:54

 [600 rows x 4 columns],
 'country':      country_id               country         last_update
 0             1           Afghanistan 2021-03-06 15:51:49
 1             2               Algeria 2021-03-06 15:51:49
 2             3        American Samoa 2021-03-06 15:51:49
 3             4                Angola 2021-03-06 15:51:49
 4             5              Anguilla 2021-03-06 15:51:49
 ..          ...                   ...                 ...
 104         105               Vietnam 2021-03-06 15:51:49
 105         106  Virgin Islands, U.S. 2021-03-06 15:51:49
 106         107                 Yemen 2021-03-06 15:51:49
 107         108            Yugoslavia 2021-03-06 15:51:49
 108         109                Zambia 2021-03-06 15:51:49

 [109 rows x 3 columns],
 'customer':      customer_id  store_id first_name  last_name  \
 0              1         1       MARY      SMITH
 1              2         1   PATRICIA    JOHNSON
 2              3         1      LINDA   WILLIAMS
 3              4         2    BARBARA      JONES
 4              5         1  ELIZABETH      BROWN
 ..           ...       ...        ...        ...
 594          595         1   TERRENCE  GUNDERSON
 595          596         1    ENRIQUE   FORSYTHE
 596          597         1    FREDDIE     DUGGAN
 597          598         1       WADE   DELVALLE
 598          599         2     AUSTIN    CINTRON

                                      email  address_id active  \
 0            MARY.SMITH@sakilacustomer.org           5      1
 1      PATRICIA.JOHNSON@sakilacustomer.org           6      1
 2        LINDA.WILLIAMS@sakilacustomer.org           7      1
 3         BARBARA.JONES@sakilacustomer.org           8      1
 4       ELIZABETH.BROWN@sakilacustomer.org           9      1
 ..                                     ...         ...    ...
 594  TERRENCE.GUNDERSON@sakilacustomer.org         601      1
 595    ENRIQUE.FORSYTHE@sakilacustomer.org         602      1
 596      FREDDIE.DUGGAN@sakilacustomer.org         603      1
 597       WADE.DELVALLE@sakilacustomer.org         604      1
 598      AUSTIN.CINTRON@sakilacustomer.org         605      1

             create_date         last_update
 0   2006-02-14 22:04:36 2021-03-06 15:53:36
 1   2006-02-14 22:04:36 2021-03-06 15:53:36
 2   2006-02-14 22:04:36 2021-03-06 15:53:36
 3   2006-02-14 22:04:36 2021-03-06 15:53:36
 4   2006-02-14 22:04:36 2021-03-06 15:53:36
 ..                  ...                 ...
 594 2006-02-14 22:04:37 2021-03-06 15:53:41
 595 2006-02-14 22:04:37 2021-03-06 15:53:41
 596 2006-02-14 22:04:37 2021-03-06 15:53:41
 597 2006-02-14 22:04:37 2021-03-06 15:53:41
 598 2006-02-14 22:04:37 2021-03-06 15:53:41

 [599 rows x 9 columns],
 'customer_list':       ID                name                   address zip_code phone  \
 0      1          MARY SMITH            1913 Hanoi Way    35200
 1      2    PATRICIA JOHNSON          1121 Loja Avenue    17886
 2      3      LINDA WILLIAMS         692 Joliet Street    83579
 3      4       BARBARA JONES          1566 Inegl Manor    53561
 4      5     ELIZABETH BROWN           53 Idfu Parkway    42399
 ..   ...                 ...                       ...      ...   ...
 594  595  TERRENCE GUNDERSON       844 Bucuresti Place    36603
 595  596    ENRIQUE FORSYTHE  1101 Bucuresti Boulevard    97661
 596  597      FREDDIE DUGGAN    1103 Quilmes Boulevard    52137
 597  598       WADE DELVALLE       1331 Usak Boulevard    61960
 598  599      AUSTIN CINTRON      1325 Fukuyama Street    27107

                city        country   notes  SID
 0            Sasebo          Japan  active    1
 1    San Bernardino  United States  active    1
 2           Athenai         Greece  active    1
 3          Myingyan        Myanmar  active    2
 4            Nantou         Taiwan  active    1
 ..              ...            ...     ...  ...
 594         Jinzhou          China  active    1
 595          Patras         Greece  active    1
 596         Sullana           Peru  active    1
 597        Lausanne    Switzerland  active    1
 598           Tieli          China  active    2

 [599 rows x 9 columns],
 'film':      film_id              title  \
 0          1   ACADEMY DINOSAUR
 1          2     ACE GOLDFINGER
 2          3   ADAPTATION HOLES
 3          4   AFFAIR PREJUDICE
 4          5        AFRICAN EGG
 ..       ...                ...
 995      996     YOUNG LANGUAGE
 996      997         YOUTH KICK
 997      998       ZHIVAGO CORE
 998      999  ZOOLANDER FICTION
 999     1000          ZORRO ARK

                                            description release_year  \
 0    A Epic Drama of a Feminist And a Mad Scientist...         2006
 1    A Astounding Epistle of a Database Administrat...         2006
 2    A Astounding Reflection of a Lumberjack And a ...         2006
 3    A Fanciful Documentary of a Frisbee And a Lumb...         2006
 4    A Fast-Paced Documentary of a Pastry Chef And ...         2006
 ..                                                 ...          ...
 995  A Unbelieveable Yarn of a Boat And a Database ...         2006
 996  A Touching Drama of a Teacher And a Cat who mu...         2006
 997  A Fateful Yarn of a Composer And a Man who mus...         2006
 998  A Fateful Reflection of a Waitress And a Boat ...         2006
 999  A Intrepid Panorama of a Mad Scientist And a B...         2006

      language_id  original_language_id  rental_duration  rental_rate  length  \
 0              1                  <NA>                6         0.99      86
 1              1                  <NA>                3         4.99      48
 2              1                  <NA>                7         2.99      50
 3              1                  <NA>                5         2.99     117
 4              1                  <NA>                6         2.99     130
 ..           ...                   ...              ...          ...     ...
 995            1                  <NA>                6         0.99     183
 996            1                  <NA>                4         0.99     179
 997            1                  <NA>                6         0.99     105
 998            1                  <NA>                5         2.99     101
 999            1                  <NA>                3         4.99      50

      replacement_cost rating                         special_features  \
 0               20.99     PG         Deleted Scenes,Behind the Scenes
 1               12.99      G                  Trailers,Deleted Scenes
 2               18.99  NC-17                  Trailers,Deleted Scenes
 3               26.99      G           Commentaries,Behind the Scenes
 4               22.99      G                           Deleted Scenes
 ..                ...    ...                                      ...
 995              9.99      G               Trailers,Behind the Scenes
 996             14.99  NC-17               Trailers,Behind the Scenes
 997             10.99  NC-17                           Deleted Scenes
 998             28.99      R                  Trailers,Deleted Scenes
 999             18.99  NC-17  Trailers,Commentaries,Behind the Scenes

             last_update
 0   2021-03-06 15:52:00
 1   2021-03-06 15:52:00
 2   2021-03-06 15:52:00
 3   2021-03-06 15:52:00
 4   2021-03-06 15:52:00
 ..                  ...
 995 2021-03-06 15:52:08
 996 2021-03-06 15:52:08
 997 2021-03-06 15:52:08
 998 2021-03-06 15:52:08
 999 2021-03-06 15:52:08

 [1000 rows x 13 columns],
 'film_actor':       actor_id  film_id         last_update
 0            1        1 2021-03-06 15:52:45
 1            1       23 2021-03-06 15:52:45
 2            1       25 2021-03-06 15:52:45
 3            1      106 2021-03-06 15:52:45
 4            1      140 2021-03-06 15:52:45
 ...        ...      ...                 ...
 5457       200      879 2021-03-06 15:53:28
 5458       200      912 2021-03-06 15:53:28
 5459       200      945 2021-03-06 15:53:28
 5460       200      958 2021-03-06 15:53:28
 5461       200      993 2021-03-06 15:53:28

 [5462 rows x 3 columns],
 'film_category':      film_id  category_id         last_update
 0          1            6 2021-03-06 15:53:28
 1          2           11 2021-03-06 15:53:28
 2          3            6 2021-03-06 15:53:28
 3          4           11 2021-03-06 15:53:28
 4          5            8 2021-03-06 15:53:28
 ..       ...          ...                 ...
 995      996            6 2021-03-06 15:53:36
 996      997           12 2021-03-06 15:53:36
 997      998           11 2021-03-06 15:53:36
 998      999            3 2021-03-06 15:53:36
 999     1000            5 2021-03-06 15:53:36

 [1000 rows x 3 columns],
 'film_list':       FID                  title  \
 0       1       ACADEMY DINOSAUR
 1      23   ANACONDA CONFESSIONS
 2      25            ANGELS LIFE
 3     106  BULWORTH COMMANDMENTS
 4     140          CHEAPER CLYDE
 ...   ...                    ...
 5457  879       TELEGRAPH VOYAGE
 5458  912        TROJAN TOMORROW
 5459  945        VIRGINIAN PLUTO
 5460  958       WARDROBE PHANTOM
 5461  993         WRONG BEHAVIOR

                                             description     category  price  \
 0     A Epic Drama of a Feminist And a Mad Scientist...  Documentary   0.99
 1     A Lacklusture Display of a Dentist And a Denti...    Animation   0.99
 2     A Thoughtful Display of a Woman And a Astronau...          New   2.99
 3     A Amazing Display of a Mad Cow And a Pioneer w...        Games   2.99
 4     A Emotional Character Study of a Pioneer And a...       Sci-Fi   0.99
 ...                                                 ...          ...    ...
 5457  A Fateful Yarn of a Husband And a Dog who must...        Music   4.99
 5458  A Astounding Panorama of a Husband And a Sumo ...       Sci-Fi   2.99
 5459  A Emotional Panorama of a Dentist And a Crocod...  Documentary   0.99
 5460  A Action-Packed Display of a Mad Cow And a Ast...        Drama   2.99
 5461  A Emotional Saga of a Crocodile And a Sumo Wre...     Children   2.99

       length rating            actors
 0         86     PG  PENELOPE GUINESS
 1         92      R  PENELOPE GUINESS
 2         74      G  PENELOPE GUINESS
 3         61      G  PENELOPE GUINESS
 4         87      G  PENELOPE GUINESS
 ...      ...    ...               ...
 5457     148     PG      THORA TEMPLE
 5458      52     PG      THORA TEMPLE
 5459     164      R      THORA TEMPLE
 5460     178      G      THORA TEMPLE
 5461     178  PG-13      THORA TEMPLE

 [5462 rows x 8 columns],
 'film_text': Empty DataFrame
 Columns: [film_id, title, description]
 Index: [],
 'inventory':       inventory_id  film_id  store_id         last_update
 0                1        1         1 2021-03-06 15:52:08
 1                2        1         1 2021-03-06 15:52:08
 2                3        1         1 2021-03-06 15:52:08
 3                4        1         1 2021-03-06 15:52:08
 4                5        1         2 2021-03-06 15:52:08
 ...            ...      ...       ...                 ...
 4576          4577     1000         1 2021-03-06 15:52:45
 4577          4578     1000         2 2021-03-06 15:52:45
 4578          4579     1000         2 2021-03-06 15:52:45
 4579          4580     1000         2 2021-03-06 15:52:45
 4580          4581     1000         2 2021-03-06 15:52:45

 [4581 rows x 4 columns],
 'language':    language_id      name         last_update
 0            1   English 2021-03-06 15:51:48
 1            2   Italian 2021-03-06 15:51:48
 2            3  Japanese 2021-03-06 15:51:48
 3            4  Mandarin 2021-03-06 15:51:48
 4            5    French 2021-03-06 15:51:48
 5            6    German 2021-03-06 15:51:48,
 'payment':        payment_id  customer_id  staff_id  rental_id  amount  \
 0               1            1         1         76    2.99
 1               2            1         1        573    0.99
 2               3            1         1       1185    5.99
 3               4            1         2       1422    0.99
 4               5            1         2       1476    9.99
 ...           ...          ...       ...        ...     ...
 16044       16045          599         1      14599    4.99
 16045       16046          599         1      14719    1.99
 16046       16047          599         2      15590    8.99
 16047       16048          599         2      15719    2.99
 16048       16049          599         2      15725    2.99

              payment_date         last_update
 0     2005-05-25 11:30:37 2021-03-06 15:55:57
 1     2005-05-28 10:35:23 2021-03-06 15:55:57
 2     2005-06-15 00:54:12 2021-03-06 15:55:57
 3     2005-06-15 18:02:53 2021-03-06 15:55:57
 4     2005-06-15 21:08:46 2021-03-06 15:55:57
 ...                   ...                 ...
 16044 2005-08-21 17:43:42 2021-03-06 15:58:08
 16045 2005-08-21 21:41:57 2021-03-06 15:58:08
 16046 2005-08-23 06:09:44 2021-03-06 15:58:09
 16047 2005-08-23 11:08:46 2021-03-06 15:58:09
 16048 2005-08-23 11:25:00 2021-03-06 15:58:09

 [16049 rows x 7 columns],
 'rental':        rental_id         rental_date  inventory_id  customer_id  \
 0              1 2005-05-24 22:53:30           367          130
 1              2 2005-05-24 22:54:33          1525          459
 2              3 2005-05-24 23:03:39          1711          408
 3              4 2005-05-24 23:04:41          2452          333
 4              5 2005-05-24 23:05:21          2079          222
 ...          ...                 ...           ...          ...
 16039      16045 2005-08-23 22:25:26           772           14
 16040      16046 2005-08-23 22:26:47          4364           74
 16041      16047 2005-08-23 22:42:48          2088          114
 16042      16048 2005-08-23 22:43:07          2019          103
 16043      16049 2005-08-23 22:50:12          2666          393

               return_date  staff_id         last_update
 0     2005-05-26 22:04:30         1 2021-03-06 15:53:41
 1     2005-05-28 19:40:33         1 2021-03-06 15:53:41
 2     2005-06-01 22:12:39         1 2021-03-06 15:53:41
 3     2005-06-03 01:43:41         2 2021-03-06 15:53:41
 4     2005-06-02 04:33:21         1 2021-03-06 15:53:41
 ...                   ...       ...                 ...
 16039 2005-08-25 23:54:26         1 2021-03-06 15:55:57
 16040 2005-08-27 18:02:47         2 2021-03-06 15:55:57
 16041 2005-08-25 02:48:48         2 2021-03-06 15:55:57
 16042 2005-08-31 21:33:07         1 2021-03-06 15:55:57
 16043 2005-08-30 01:01:12         2 2021-03-06 15:55:57

 [16044 rows x 7 columns],
 'sales_by_film_category':        category  total_sales
 0         Music      3417.72
 1       Foreign      4270.67
 2         Drama      4587.39
 3      Classics      3639.59
 4        Action      4375.85
 5        Sports      5314.21
 6           New      4351.62
 7        Family      4226.07
 8      Children      3655.55
 9        Comedy      4383.58
 10       Horror      3722.54
 11        Games      4281.33
 12       Travel      3549.64
 13       Sci-Fi      4756.98
 14    Animation      4656.30
 15  Documentary      4217.52,
 'sales_by_store':    store_id                store       manager  total_sales
 0         2  Woodridge,Australia  Jon Stephens     33726.77
 1         1    Lethbridge,Canada  Mike Hillyer     33679.79,
 'staff':    staff_id first_name last_name  address_id picture  \
 0         1       Mike   Hillyer           3    <NA>
 1         2        Jon  Stephens           4    <NA>

                           email  store_id  active username  \
 0  Mike.Hillyer@sakilastaff.com         1       1     Mike
 1  Jon.Stephens@sakilastaff.com         2       1      Jon

                                    password         last_update
 0  8cb2237d0679ca88db6464eac60da96345513964 2021-03-06 15:52:00
 1  8cb2237d0679ca88db6464eac60da96345513964 2021-03-06 15:52:00  ,
 'staff_list':    ID          name               address zip_code phone        city  \
 0   1  Mike Hillyer     23 Workhaven Lane     None        Lethbridge
 1   2  Jon Stephens  1411 Lillydale Drive     None         Woodridge

      country  SID
 0     Canada    1
 1  Australia    2  ,